.container_box{
    background-color: antiquewhite;
    width: 50%;
    margin: auto;
    border-radius: 1rem;
}


.number_box{
    font-size: 2rem;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}